
.container-services{
    height: auto;
    width: 1000px;
}

.main-services{
    height: 100%;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    margin-right: 3%;
}

.aside-services {
    height: 100vh;
    width: 30%;
    background-image: url('../../assets/images/dots-box1.png'), url('../../assets/images/strips1.png');
    background-repeat: no-repeat;
    background-size: 30%, 50% 100%;
    background-position: left, right;
    float: right;  
}