@font-face {
    font-family: 'marline';
    src: url('../../assets/fonts/marline.otf');
}


body {
    margin: 0 auto;
    .fancy {
        font-family: 'marline';
        font-size: 3rem;

    }
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .brown-divider{
        height: 20px;
        background-color: sienna;
    }

