.footer{
    height: 80px;
    background-color: #06b4af;

    .footer-text{
        color: white;
        display: inline;
        margin-left: 20%;
    }

    .footer-phone{
        color: white;
        display: inline;
        margin-left: 20%;
        vertical-align: 70%;
    }
}

.footer-dots{
    margin-left: 5%;
    margin-top: 2%;
}
